 .u-section-1 {
  background-image: url("images/959309-min.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 417px auto 0 114px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px auto 0 111px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  margin: -34px auto 60px 286px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 414px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 580px;
}

.u-section-2 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  margin: 50px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-image-1 {
  width: 153px;
  height: 153px;
  background-image: url("images/unknown1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 214px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-image-2 {
  width: 143px;
  height: 143px;
  background-image: url("images/unknown3.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 29px 50px;
}

.u-section-2 .u-image-3 {
  width: 152px;
  height: 152px;
  background-image: url("images/040d881d446a685ab3e50fe0c7cdba9f.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-carousel-item-4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 152px;
  height: 152px;
  background-image: url("images/4fd65cc02b63ce37cfa7182f8b3a3922.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 50px 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  margin: 2px auto 0;
}

.u-section-2 .u-carousel-item-5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-2 .u-image-5 {
  width: 152px;
  height: 152px;
  background-image: url("images/channels4_profile.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px auto 0;
}

.u-section-2 .u-carousel-item-6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-2 .u-image-6 {
  width: 152px;
  height: 152px;
  background-image: url("images/4814d6934c070f27726de1276463cb82.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-2 .u-text-18 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 625px;
}

.u-section-3 .u-group-1 {
  width: 366px;
  min-height: 319px;
  margin: 58px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 16px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none dotted;
  font-weight: 700;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-group-2 {
  width: 366px;
  min-height: 319px;
  margin: -319px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-3 .u-icon-1 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 7px;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.375rem;
  margin: 34px auto 0 7px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 17px auto 0 7px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 0.5834em;
  padding: 1px;
}

.u-section-3 .u-group-3 {
  width: 366px;
  min-height: 318px;
  margin: -318px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-3 .u-icon-3 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 7px;
  padding: 3px;
}

.u-section-3 .u-text-5 {
  font-size: 1.375rem;
  margin: 34px auto 0 7px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 16px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 28px auto 0 3px;
  padding: 3px 0;
}

.u-section-3 .u-icon-4 {
  font-size: 0.5834em;
  padding: 1px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: none;
  margin: 82px 121px 0 auto;
  padding: 10px 30px 10px 29px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  margin: -38px 734px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.75rem;
  margin: -1px 136px 60px 843px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 534px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 36px;
    margin-left: 743px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-7 {
    margin-right: 314px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 559px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 134px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1369px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 179px;
  }
}